{% extends 'base.html.twig' %}

{% block title %}Portale Tecnocanapa{% endblock %}

{% block body %}
    <div class="wrapper">
        <form action="{{ path('api_login') }}" method="post">
            <div style="text-align: center;">
                <img src="{{ asset('img/tecnocanapa.png') }}" alt="Logo Tecnocanapa" align="center" style="margin-bottom: 10px;">
            </div>
            <h4 style="margin-bottom: 10px;">Portale per le proposte d'acquisto</h4>
            <div class="input-box">
                <input type="text" id="username" name="username" placeholder="Nome utente" required>
                <i class='bx bxs-user'></i>
            </div>
            <div class="input-box">
                <input type="password" id="passwordInput" name="password" placeholder="Password" required>
                <i class='bx bxs-lock-alt'></i>
            </div>
            <div class="remember-forgot">
                <label><input type="checkbox" onclick="showPassword()">Mostra Password</label>
                <label><input type="checkbox" onclick="rememberPassword()">Ricordami</label>
            </div>
            <button type="submit" class="btn">Accedi</button>

            {% for message in app.flashes('error') %}
                <div class="alert alert-danger">{{ message }}</div>
            {% endfor %}
        </form>
    </div>
{% endblock %}

{% block javascripts %}
    <script>
        function rememberPassword() {
            var rememberCheckbox = document.querySelector('input[type="checkbox"][onclick="rememberPassword()"]');
            var passwordInput = document.getElementById('passwordInput');
            if (rememberCheckbox.checked) {
                passwordInput.setAttribute('data-remembered', 'true');
            } else {
                passwordInput.removeAttribute('data-remembered');
            }
        }

        function showPassword() {
            var passwordInput = document.getElementById('passwordInput');
            if (passwordInput.type === "password") {
                passwordInput.type = "text";
            } else {
                passwordInput.type = "password";
            }
        }

        window.addEventListener('DOMContentLoaded', function() {
            var rememberedPassword = localStorage.getItem('rememberedPassword');
            var passwordInput = document.getElementById('passwordInput');
            if (rememberedPassword === 'true') {
                passwordInput.type = 'text';
                document.querySelector('input[type="checkbox"][onclick="showPassword()"]').checked = true;
            }
        });
    </script>
{% endblock %}

{% block stylesheets %}
    <style>
        *{
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: "Poppins", sans-serif;
        }
        body{
            display: flex;
            justify-content: center;
            align-items: center;
            min-height: 100vh;
            background: url({{ asset('img/canapacalce.jpg') }}) no-repeat;
            background-size: cover;
            background-position: center;
        }
        .wrapper{
            width: 420px;
            background: rgba(128, 114, 96, 0.4);
            border: 2px solid rgba(255, 255, 255, .2);
            backdrop-filter: blur(1px);
            color: #fff;
            border-radius: 12px;
            padding: 30px 40px;
        }

        .wrapper h1{
            font-size: 36px;
            text-align: center;
        }

        .wrapper h4{
            font-size: 18px;
            text-align: center;

        }
        .wrapper .input-box{
            position: relative;
            width: 100%;
            height: 50px;

            margin: 30px 0;
        }
        .input-box input{
            width: 100%;
            height: 100%;
            background: transparent;
            border: none;
            outline: none;
            border: 2px solid rgba(255, 255, 255, .2);
            border-radius: 40px;
            font-size: 16px;
            color: #fff;
            padding: 20px 45px 20px 20px;
        }
        .input-box input::placeholder{
            color: #fff;
        }
        .input-box i{
            position: absolute;
            right: 20px;
            top: 30%;
            transform: translate(-50%);
            font-size: 20px;

        }
        .wrapper .remember-forgot{
            display: flex;
            justify-content: space-between;
            font-size: 14.5px;
            margin: -15px 0 15px;
        }
        .remember-forgot label input{
            accent-color: #fff;
            margin-right: 3px;

        }
        .remember-forgot a{
            color: #fff;
            text-decoration: none;

        }
        .remember-forgot a:hover{
            text-decoration: underline;
        }
        .wrapper .btn{
            width: 100%;
            height: 45px;
            background: #fff;
            border: none;
            outline: none;
            border-radius: 40px;
            box-shadow: 0 0 10px rgba(0, 0, 0, .1);
            cursor: pointer;
            font-size: 16px;
            color: #333;
            font-weight: 600;
        }
        .wrapper .register-link{
            font-size: 14.5px;
            text-align: center;
            margin: 20px 0 15px;

        }
        .register-link p a{
            color: #fff;
            text-decoration: none;
            font-weight: 600;
        }
        .register-link p a:hover{
            text-decoration: underline;
        }
    </style>
{% endblock %}