<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Material List</title>
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
        }
        th, td {
            border: 1px solid black;
            padding: 8px;
            text-align: left;
        }
        th {
            background-color: #f2f2f2;
        }
        .note {
            font-size: 0.9em;
        }
        .total {
            font-weight: bold;
        }
    </style>
</head>
<body>

<table>
    <thead>
    <tr>
        <th>MANUFATTO TIPO</th>
        <th>QUANTITÀ</th>
        <th>CARATTERISTICHE</th>
        <th>N. BANCALI</th>
        <th>PREZZO FRANCO STABILIMENTO</th>
        <th>TOTALE IVA esclusa</th>
        <th>N. CARICHI</th>
        <th>N. BANCALI</th>
        <th>mcf/sacchi/secchi</th>
        <th>NOTE</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>BLOCCO AMBIENTE 20X36 sp. 40cm</td>
        <td>108,36 mc</td>
        <td>0,86 mc/pallet</td>
        <td>126,00</td>
        <td>€/mc 380,00</td>
        <td>41.176,80 €</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>CANAPULO GROSSO Ø 0-25mm (Malta di allettamento)</td>
        <td>60 pz</td>
        <td>sacchi da 20kg</td>
        <td>2,86</td>
        <td>€/sacco 30,00</td>
        <td>1.800,00 €</td>
        <td></td>
        <td></td>
        <td></td>
        <td>N.B. Da miscelare 24 ore prima dell'uso</td>
    </tr>
    <tr>
        <td>LEGANTE DOLOMITICO NATURALE (Malta di allettamento)</td>
        <td>192 pz</td>
        <td>sacchi da 25kg</td>
        <td>3,20</td>
        <td>€/sacco 16,00</td>
        <td>3.072,00 €</td>
        <td></td>
        <td></td>
        <td></td>
        <td>N.B. Da miscelare 24 ore prima dell'uso</td>
    </tr>
    <tr>
        <td>MALTA DI ALLETTAMENTO in secchi</td>
        <td>800 pz</td>
        <td>secchi da 20kg</td>
        <td>33,33</td>
        <td>€/secchio 23,00</td>
        <td>18.400,00 €</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>BIO BETON 500 VENEZIA</td>
        <td>60 pz</td>
        <td>secchi da 20lt</td>
        <td></td>
        <td>€/secchio 23,00</td>
        <td>1.380,00 €</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>ADDITIVO PROBIOTICO</td>
        <td></td>
        <td>tanica da 20lt</td>
        <td></td>
        <td>€/lt 13,00</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>CANAPOSO</td>
        <td></td>
        <td>secchi da 20lt</td>
        <td></td>
        <td>€/secchio 34,00</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>CANAPULINO</td>
        <td></td>
        <td>secchi da 20lt</td>
        <td></td>
        <td>€/secchio 27,00</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>INTONACO DI CALCE NATURALE</td>
        <td></td>
        <td>sacchi da 25kg</td>
        <td></td>
        <td>€/sacco 11,00</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>STABILITURA NATURALE TRASPIRANTE +</td>
        <td></td>
        <td>sacchi da 25kg</td>
        <td></td>
        <td>€/sacco 26,00</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>MALTA DI GRASSELLO E SABBIA</td>
        <td></td>
        <td>sacchi da 25kg</td>
        <td></td>
        <td>€/sacco 6,00</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>CANAFIBER 120X60 sp. 5cm</td>
        <td></td>
        <td>3,456 mc/pallet</td>
        <td></td>
        <td>€/mc 280,00</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>BIO BETON 200 PRONTO</td>
        <td></td>
        <td>Big bags da 2mc</td>
        <td></td>
        <td>€/mc 230,00</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>GESSOFIBRA, LEGNO ed ACCESSORI</td>
        <td></td>
        <td></td>
        <td></td>
        <td>€/mq 50,40</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>POLVERE DI CANAPA</td>
        <td></td>
        <td>sacchi da 15kg</td>
        <td></td>
        <td>€/sacco 44,00</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>BANCALI</td>
        <td></td>
        <td></td>
        <td></td>
        <td>€/cad 7,00</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>ASSISTENZA TECNICA E FORMAZIONE</td>
        <td></td>
        <td>in cantiere</td>
        <td></td>
        <td>€/gg 500,00</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    </tbody>
    <tfoot>
    <tr>
        <td colspan="5" class="total">Totale fornitura</td>
        <td class="total">64.448,80 €</td>
        <td colspan="4"></td>
    </tr>
    <tr>
        <td colspan="5" class="total">I.V.A. 22%</td>
        <td class="total">14.178,74 €</td>
        <td colspan="4"></td>
    </tr>
    <tr>
        <td colspan="5" class="total">Totale fattura</td>
        <td class="total">78.627,54 €</td>
        <td colspan="4"></td>
    </tr>
    <tr>
        <td colspan="10" class="note">
            <strong>N.B.1</strong> Prezzo stimato: Quotato in fase di conferma<br>
            <strong>N.B.2</strong> Il luogo di consegna deve consentire l'accesso a un autocarro da 16 ton.<br>
            <strong>N.B.3</strong> Scalo alla vostra cura. Include 2 ore di scarico oltre le quali verrà applicata la tariffa di 50€/ora
        </td>
    </tr>
    </tfoot>
</table>

</body>
</html>
