{% block body %}
    <nav class="navbar bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
                <img src="{{ asset('img/tecnocanapa.png') }}" alt="Logo" width="30" height="24" class="d-inline-block align-text-top"> Senini
            </a>
        </div>
    </nav>
{% endblock %}