<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}

        <br><br>
        <footer class="footer">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <img src="{{ asset('img/logo.png') }}" alt="Logo del progetto" class="img-fluid">
                        <h2>SENINI</h2>
                    </div>
                    <div class="col-md-8">
                        <p>Creato da:</p>
                        <ul class="list-unstyled">
                            <li>Gabriele Meles</li>
                            <li>Tommaso Paiella</li>
                            <li>Tommaso Ronchetti</li>
                            <li>Andrea Cicciriello</li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>
    </body>
</html>
